* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 268px;
}

.menu-container {
  display: flex;
  width: 728px;
  order: 1;
  margin: 0 auto;
}

.menu-container ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}