* {
  margin: 0;
  padding: 0;
}

.buttons-font-color {
  margin-top: 10px;
  text-align: center;
}

.color-buttons {
  margin-top: 10px;
  text-align: center;
}

.bigtext {
  text-align: center;
  margin-top: 10px;
}
.text{
  margin-top: 400px;
  text-align: center;
}

#texto {
  font-size: 100px;
}