html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 600px) {
  body {
    background-color: aliceblue;
  }

  .container header {
    text-align: center;
  }

  .container header nav ul {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    list-style: none;
  }
  .container header nav ul li {
    margin-left: 10px;
  }

  .aside-one {
    padding: 20px;
  }

  .aside-two {
    padding: 20px;
  }

  .main-content {
    padding: 20px;
  }

  footer {
    padding: 20px;
  }
}

@media screen and (min-width: 601px) {
  .headerz {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .headerz nav ul {
    display: flex;
    list-style: none;
  }

  .headerz nav ul li {
    margin-left: 10px;
  }

  .chapter-information {
    display: flex;
    justify-content: center;
  }
  .chapter-information aside {
    margin: 0 40px;
  }
  
  .main-content {
    margin: 10px 50px;
  }

  footer {
    margin: 60px 50px;
  }
}