.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }

  .width-and-height {
    height: 50px;
    width: 50px;
  }

  .padding {
      padding: 20px;
    /* insira aqui um padding de 20px na classe abaixo para aplicá-lo aos itens B, C e D */
    }

    .margin {
      margin: 30px;
    /* insira aqui uma margem de 30px na classe abaixo para aplicá-la aos itens C e D */
    }

    .border {
        border: 5px solid black;
    /* insira aqui uma borda com valor '5px solid black' para aplicá-la ao item D */
    }

    .super-mario {
     width: 100px;
     position: absolute;   
    }

    .goomba {
        width: 100px;
        position: absolute;
        top: 530px;
    }

    .baloon {
        width: 160px;
        position: absolute;
        top: 390px;
        left: 180px;
    }

    .word {
        font-size: 13px;
        position: absolute;
        top: 410px;
        left: 193px;
        z-index: 2;
    }

    .bowser {
        width: 190px;
        position: absolute;
        top: 400px;
        left: 340px;
    }

