* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background: linear-gradient(45deg, #2d3436, #00b894, #636e72,  #b2bec3);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header-container {
  background-color: #5C687C;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 268px;
}

.menu-container {
  display: flex;
  width: 100%;
  order: 1;
  margin: 0 auto;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container div {
  align-items: center;
  background-color: #5C687C;
  border: black solid 1px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  width: 16%;
  flex-grow: 10;
}

.aside-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 350px;
  align-self: center;
}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}

.card-container div {
  background-image: url(/netflix.jpg);
  background-size: cover;
  background-position: center; 
  position: relative;
  transition: all .4s ease-out;
}

.card-container div:hover {
  width: 24%;
  box-shadow:0 4px 3px #999
}

.card-container div h3 {
  color: white;
  text-shadow: 2px 2px black;
  position: relative;
}

section h2 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}