* {
  margin: 0;
  padding: 0;
  font-family: ubuntu;
}

.cabeça {
  text-align: center;
  background-color: blueviolet;
  height: 100px;
}

.cabeça h1 {
  color: white;
  padding-top:25px ;
  font-family: ubuntu;
  font-weight: bold;
  text-transform: uppercase;
}

.links-página {
  text-align: center;
  margin: 0 auto;
  background-color: grey;
  height: 40px;
}

.links-página ul li {
  display: inline-block;
  margin: 0 20px;
  padding-top: 10px;
}

.links-página ul li a {
  color: white;
  text-decoration: none;
  font-family: ubuntu;
}

.links-página ul li a:hover {
  box-shadow: black 0px 2px 0px 0px;
}

.navegar-conteudo {
  float:right;
  position: fixed;
  margin-left: 85%;
  width: 10%;
  margin-top: 10px;
  background-color: grey;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  
}

.navegar-conteudo ul li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.navegar-conteudo ul li {
  color: white;
}

main{
  width: 80%;
}

.main h1 {
  text-align: center;
  margin-left: 200px;
  margin-top: 20px;
  text-transform: uppercase;
}

section {
  margin-left: 20px;
}

.fatos {
  margin: 40px 20px;
}

.tabela li{
  margin-top: 20px;
  margin-left: 20px;
  
}

.visao {
  margin: 40px 0;
}

.visao img, .reproducao article img {
  margin-top: 20px;
}

.rodape {
  margin-top: 20px;
  background-color: grey;
  color: white;
  text-align: center;
  height: 50px;
  padding-top: 20px;
}