ol {
  background-color: yellow;
}

.par {
  color: green;
}

.primo {
  text-transform: uppercase;
}

h1, h2, h3 {
  color: red;
}

li {
  font-size: 20px;
}

.italic {
  font-weight: bold;
}

.font-blue {
  color: blue;
}

.java {
  background-color: pink;
}

.negrito li:hover {
  font-weight: bold;
  color: green;
}

.negrito li a:hover {
  color: green;
}